@import "tailwindcss";


/* scrollbar global */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* gray-500 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #126087;
  background: linear-gradient(
    150deg,
    rgba(18, 96, 135, 1) 0%,
    rgba(72, 115, 79, 1) 50%,
    rgba(140, 126, 20, 1) 100%
  );
}
